
.index {
  height: 100%;
  .showBtn {
    position:fixed;
    bottom:0;
    left:0;
  }
  // 遮罩层
  .maskLayer {
    .firstNode {
      font-weight: bold;
      .secondNode {
        font-weight: normal;
        .thirtNode {
          display: block;
          width: calc(100% - 1.1rem);
          font-size: 0.75rem;
          padding: 0.2rem 0.1rem 0.2rem 1rem;
          &.active {
            color: #409eff;
          }
        }
      }
    }
  }
}